[Unit]
Description=Python Lan Debbuger over MQTT
StartLimitIntervalSec=0

[Service]
Type=exec
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python ~/git/horvatgroup/bcpc_mqtt_proxy/src/lan_debugger.py

Restart=always
RestartSec=1
WatchdogSec=10

[Install]
WantedBy=default.target
