[Unit]
Description=Python Lan Debbuger over MQTT
StartLimitIntervalSec=0

[Service]
Type=exec
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python %h/git/horvatgroup/bcpc_mqtt_proxy/src/lan_debugger.py
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
